<!doctype html>
<html>
<head>
    <title>package</title>
    <script
            src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<!----
    pacakge_number : {type: String, index:true},
    from: String,
    to: String,
    dest_long : String,
    dest_lat : String,
    status: String,
    updated_at: String,
    created_at : String
---->
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Edit / Delete package</h1>

        <form id="the-form">
            <div class="form-group">
                <label for="name">package_number:</label>
                <input type="text" value="<%= package.package_number%>" class="form-control" id="package_number">
            </div>
            <div class="form-group">
                <label for="from">from:</label>
                <input type="text" value="<%= package.from%>" class="form-control" id="from">
            </div>
            <div class="form-group">
                <label for="to">to:</label>
                <input type="text" value="<%= package.to%>" class="form-control disabled" id="to">
            </div>
            <div class="form-group">
                <label for="dest_long">dest_long:</label>
                <input type="text"  value="<%= package.dest != undefined ? package.dest[0] : ""%>"class="form-control" id="0">
            </div>
            <div class="form-group">
                <label for="dest_lat">dest_lat:</label>
                <input type="text"  value="<%= package.dest != undefined ? package.dest[1] : ""%>"class="form-control" id="1">
            </div>
            <div class="form-group">
                <label for="status">status:</label>
                <input type="text"  value="<%= package.status%>"class="form-control" id="status">
            </div>
        </form>
        <div class="page-data">
            <ul class="err-area"></ul>
        </div>
        <a href="javascript:void(0)" onClick="savePackage('<%=package.package_number%>')" class="btn btn-default"><span class="fa fa-save"></span> Save</a>
        <a href="javascript:void(0)" onClick="deletePackage('<%=package.package_number%>')" class="btn btn-default"><span class="fa fa-delete"></span> Delete</a>


    </div>

</div>

<script>
    function savePackage(package_number){

        $.ajax({

            url:"/api/packages/"+package_number,
            type:"PUT",
            contentType: 'application/json',
            data: JSON.stringify(convertFormtoObject()),
            success:function(res){

                window.location = '/profile';
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                var err =  xhr.responseTex;
                $(".err-area").html(err);
                return false;
            }

        });
    }

    function convertFormtoObject(){
        var properties = $('form').children('div').children('input');
        var package = {};
        for (var i = 0; i< properties.length; i++){
            if (properties[i].id == 0 || properties[i].id == 1){
                if (!package.dest)
                    package.dest = [];
                package.dest[properties[i].id] = properties[i].value;
            }
            else
                package[properties[i].id] = properties[i].value;
        }

        return package;
    }
    function deletePackage(package_number){

        $.ajax({
            url:"/api/packages/"+package_number,
            type: 'DELETE',
            contentType: 'application/json',
            success: function(res) {

                window.location = '/profile';
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }
</script>
</body>
</html>
