<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>user Name</strong>: <%= user.userName %><br>
                    <strong>password</strong>: <%= user.password %>
                </p>

            </div>
        </div>

    </div>

    <% if (user.admin) {%>
    <div class="col-sm-6">
    <h2>All users</h2>
    <ul>
        <% allUsers.forEach(function(user1) { %>
        <li> <a href="/users/<%= user1._id %>"> <%= user1.name %>  - <%= user1.userName%></a></li>
        <% }); %>
    </ul>
    </div>
    <div class="col-sm-6">
        <h2>All Packages</h2>
        <ul>
            <% allPackages.forEach(function(package) { %>
            <li> <a href="/package/<%= package.package_number %>"> <%= package.package_number %> </a></li>
            <% }); %>
        </ul>
    </div>
    <% }%>

</div>
</body>
</html>
