<!doctype html>
<html>
<head>
<title>User</title>
    <script
            src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<style>
body        { padding-top:80px; }
</style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span>Example of Edit part of User properties / Delete User</h1>

        <form id="the-form">
            <input type="text" value="<%= user._id%>" class="hidden" id="_id">

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" value="<%= user.name%>" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="userName">User Name:</label>
                <input type="text" value="<%= user.userName%>" class="form-control" id="userName">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="text" value="<%= user.password%>" class="form-control disabled" id="password" readonly>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone:</label>
                <input type="text"  value="<%= user.PhoneNumber%>"class="form-control" id="PhoneNumber">
            </div>
        </form>
        <div class="page-data">
            <ul class="err-area"></ul>
        </div>
<a href="javascript:void(0)" onClick="saveUser('<%=user._id%>')" class="btn btn-default"><span class="fa fa-user"></span> Save</a>
        <a href="javascript:void(0)" onClick="deleteUser('<%=user._id%>')" class="btn btn-default"><span class="fa fa-remove"></span> Delete</a>


    </div>

</div>

<script>
    function saveUser(user_id){

        $.ajax({

            url:"/api/users/"+user_id,
            type:"PUT",
            contentType: 'application/json',
            data:convertFormtoObject(),
            success:function(res){

                window.location = '/profile';
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                var err =  xhr.responseTex;
                $(".err-area").html(err);
                return false;
            }

        });
    }

    function convertFormtoObject(){
        var properties = $('form').children('div').children('input');
        var user = {};
        for (var i = 0; i< properties.length; i++){
            user[properties[i].id] = properties[i].value;
        }

        return user;
    }
    function deleteUser(user_id){

        $.ajax({
            url:"/api/users/"+user_id,
            type: 'DELETE',
            success: function(res) {

                window.location = '/profile';
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
